/* Widget Recent Style */
.widget:before{position: absolute; content: ''; bottom: 0; left: 0; display: block; border-bottom: 1px solid #efefef; width: 100%; height: 0; visibility: visible;}
.page-sidebar.left .widget:before{position: absolute; content: ''; bottom: 0; left:auto; right: -25px; display: block; border-bottom: 1px solid #efefef; width: 1500px; height: 0; visibility: visible;}
.widget:last-child:before{border:0;}
.page-sidebar.left .widget:last-child:before{border:0;}
.widget{padding-bottom: 28px; margin-bottom: 28px; position: relative;}
.widget:after{ clear:both; content:''; display:block;}
.widget h6{text-transform: uppercase !important; letter-spacing: 1px !important; margin-bottom: 15px;}
/* Widget Recent Posts */
.widget-recent-posts:after{display: block; clear: both; content: '';}
.widget-recent-posts ul{margin:0 0 30px; padding: 0;}
.widget-recent-posts ul:after{display: block; clear: both; content: '';}
.widget-recent-posts ul li{list-style: none; margin-bottom: 20px; line-height: 20px;}
.widget-recent-posts ul li:last-child{margin-bottom: 0;}
.widget-recent-posts ul li:after{display: block; clear: both; content: '';}
.widget-recent-posts .cs-text{ overflow:hidden;}
.widget-recent-posts .cs-text a{font: 600 13px/18px "Raleway",sans-seri; display: block; margin-bottom: 7px; text-decoration: none;text-transform:uppercase;}
.widget-recent-posts .cs-text span{display: block; font-size: 10px; text-transform: uppercase; color: #999;}
.widget-recent-posts .cs-text span i{display: inline-block; vertical-align: middle; margin-right: 5px; font-size: 12px;}
.widget-recent-posts .cs-media{float: right; padding-top: 5px; margin-left:20px; width:42px;}
.widget-recent-posts .cs-media img{border-radius: 50%; width:100%;}
.widget-recent-posts .cs-view-blog{display: inline-block; border:1px solid #ca4747; letter-spacing: 1px; border-radius: 20px; font-size: 10px; text-transform: uppercase; color: #ca4747; padding:2px 20px; text-decoration: none;}
/* Widget Admin */
.widget-admin:after{display: block; clear: both; content: '';}
.widget-admin ul:after{display: block; clear: both; content: '';}
.widget-admin ul li{list-style: none; margin-bottom: 20px; line-height: 20px;}
.widget-admin ul li:last-child{margin-bottom: 0;}
.widget-admin ul li:after{display: block; clear: both; content: '';}
.widget-admin .cs-text{ overflow:hidden;}
.widget-admin .cs-text a{font-size: 13px; display: block; margin-bottom: 7px; text-decoration: none;}
.widget-admin .cs-text span{display: block; font-size: 10px; text-transform: uppercase; color: #999;}
.widget-admin .cs-text span i{display: inline-block; vertical-align: middle; margin-right: 5px; font-size: 12px;}
.widget-admin .cs-media{float: right; padding-top: 5px; margin:0 0 0 20px;}
.widget-admin .cs-media img{border-radius: 50%;}
/* Widget Tags */
.widget-tags a,
.widget_tag_cloud a{border:1px solid #ededed; display: inline-block; padding: 2px 14px; border-radius: 20px; font-size: 10px !important; color: #999; text-decoration: none; margin-bottom: 5px; text-transform: uppercase;}
/* Widget Search */
.widget-search,
.widget_search{position: relative; margin-bottom: 30px;}
.widget-search input[type="text"],
.widget_search input[type="text"]{padding-left: 40px;}
.widget-search label{position: absolute; top: 7px; left: 10px;}
.widget-search label:after{position: absolute; content: '\eb79'; font-family: icomoon; top: 0; left: 0; color: #ccc; font-size: 20px; opacity: 0.5;}
.widget-search input[type="submit"]{border: 0; background: none;}
.widget_search .search-submit{border: none; top: 50%; height: 38px; padding: 0;width:40px; position: absolute; left: 0; color: #fff; background: none !important; -webkit-transform: translateY(-50%);    -ms-transform: translateY(-50%); transform: translateY(-50%);}
.widget_search .search-submit .screen-reader-text {font-size: 0;left: 12px;line-height: 0;position: absolute;text-indent: -9999px;top: 20px;}
.widget_search .search-submit .screen-reader-text{border: 0;-webkit-clip-path:none;clip-path:none;  height: 1px;margin: -1px;overflow: hidden;position:initial !important;padding: 0;}
.widget_search .search-submit .screen-reader-text:after{position: absolute; content: '\eb79'; font-family: icomoon; top: 20px; left: 8px; color: #ccc; font-size: 20px; opacity: 0.5; text-indent:0px;}
/* Widget Categories */
.widget-categories ul,
.widget_categories ul,
.widget_product_categories ul{margin:0; padding: 0;}
.widget-categories ul li,
.widget_categories ul li,
.widget_product_categories ul li{list-style: none; position: relative; padding-left: 15px;}
.widget-categories ul li:after,
.widget_categories ul li:after,
.widget_product_categories ul li:after{position: absolute; content: ''; top: 13px; left: 0; width: 5px; height: 5px; background: #dcdcdc; border-radius: 50%;}
.widget-categories ul li a,
.widget_categories ul li a,
.widget_product_categories ul li a,
.widget li a{text-transform: capitalize;color: #444;letter-spacing: 1px;text-decoration: none; font-size: 13px; font-weight: 500;}
/* Featured widget */
.featured-listing ul{margin: 0; padding: 10px 0 0;}
.featured-listing ul li{list-style: none; margin-bottom: 20px;}
.featured-listing ul li .cs-media{float: left; margin-right: 20px; width:60px;}
.featured-listing ul li .cs-media figure img{ width:100%; height:60px;}
.featured-listing ul li .cs-text{overflow: hidden;}
.featured-listing ul li .cs-text h6{margin: 0; line-height: 15px !important;}
.featured-listing ul li .cs-text h6 a{font:600 13px/18px "Raleway",sans-serif !important; text-decoration: none; text-transform: uppercase !important; color: #444;}
.featured-listing ul li .cs-text span{font-size: 12px;}
.featured-listing .cs-text .auto-price {float: left;}
/* Widget twitter */
.widget-twitter ul{margin:0; padding: 0;}
.widget-twitter ul li{list-style: none; margin-bottom: 10px;}
.widget-twitter ul li .cs-media{float: left; margin-right: 10px;}
.widget-twitter ul li .cs-media i{color: #2b97f0;}
.widget-twitter ul li .cs-text{overflow: hidden;}
.widget-twitter ul li .cs-text p{font-size: 13px; line-height: 20px; display: inline-block;}
.widget-twitter ul li .cs-text p a{text-decoration: none;}
.widget-twitter ul li .cs-text span{display: inline-block; font-size: 10px; color: #999;}
.widget-twitter ul li .cs-text span i{display: inline-block;}
.widget.widget-ad img{ width:100%;}
.wp-automobile .widget .widget-title{margin: 0 0 15px 0;}
.wp-automobile .widget ul{margin: 0px; padding: 0px;}
.wp-automobile .widget ul li{list-style: none;}
.wp-automobile .widget.widget_search{display: block;}
.wp-automobile .widget.widget_search form{display: block; position: relative;}
.wp-automobile .widget.widget_search input.search-field[type="search"]{font-size: 16px; width: 100%; padding-left: 40px; padding: 0 0 0 38px; line-height: 38px;}
.widget_product_categories li span { color: #999;}
.widget_product_tag_cloud a {border: 1px solid #ededed; display: inline-block; padding: 2px 14px; border-radius: 20px; font-size: 10px !important;  color: #999; text-decoration: none; margin-bottom: 5px; text-transform: uppercase; text-decoration: none; outline: none;}
.widget_product_tag_cloud a:hover{border:1px solid #d00000; color: #d00000;}
.widget.widget_search .search-form > label {display: block; margin-bottom:0;}
.widget.widget_text .textwidget img, .automobile_banner_section a img {width: 100%;}
.widget-news-letter p{font-size:12px;line-height:20px;margin-bottom:25px;}
.widget-news-letter .cs-form {margin-bottom:17px;}
.page-sidebar .widget-news-letter .cs-form .input-holder {position:relative;overflow:hidden;}
.page-sidebar .widget-news-letter .cs-form .input-holder input[type="email"], .page-sidebar .widget-news-letter .cs-form .input-holder input[type="text"]{width:100%;display:inline-block;border:0;border-radius:0;height:39px;padding:10px 56px 10px 12px;border:solid #bbbbbb 1px;}
.widget-news-letter .cs-form .input-holder input[type="submit"]{color:#FFF;border:0;border-radius:0;font-size:11px;font-weight:700;text-transform:uppercase;padding:20px 24px;line-height:0;text-indent:-999px}
.page-sidebar .widget-news-letter .cs-form .input-holder label{position:absolute; bottom:0;right:0;text-align:center;cursor:pointer; margin-bottom:0;}
.widget-news-letter .cs-form .input-holder label i{position:absolute;top:50%;left:13px;font-size:20px;color:#fff; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%);}
.widget-news-letter .cs-social-media ul{margin:0;padding:0;display:inline-block;}
.widget-news-letter .cs-social-media ul li{margin:0;padding:0;display:inline-block;margin-right:4px;}
.widget-news-letter .cs-social-media ul li:last-child{margin-right:0;}
.widget-news-letter .cs-social-media ul li a{font-size:12px; border-radius: 3px 2px 2px 3px/3px;display:inline-block;width: 25px;height: 26px;text-align:center;line-height:28px;}
.widget-news-letter .cs-social-media ul li a i{color:#FFF !important;}
.widget-news-letter .cs-social-media ul li a:hover{text-decoration:none;}
.widget-news-letter .cs-social-media ul li a[data-original-title="facebook"] {background: #3b589e;}
.widget-news-letter .cs-social-media ul li a[data-original-title="twitter"] {background: #2b97f0;}
.widget-news-letter .cs-social-media ul li a[data-original-title="linkedin"] {background: #1c82ca;}
.widget-news-letter .cs-social-media ul li a[data-original-title="google"],
.widget-news-letter .cs-social-media ul li a[data-original-title="Google"] {background: #dc4e41;}
.widget-news-letter .cs-social-media ul li a[data-original-title="rss"] {background: #e78733;}
.widget-news-letter .cs-social-media ul li a[data-original-title="vimeo"] {background: #56d7fe;}
.calendar_wrap {text-align: center;}
.calendar_wrap th, .calendar_wrap td {margin: 0;padding: 0;text-align: center;}
/* Widget Menu */
.widget.widget_pages ul,
.widget_nav_menu ul{margin:0;padding:0;}
.widget.widget_pages ul li,
.widget_nav_menu ul li{margin:0;padding:0;display:block;line-height:24px;}
.widget.widget_pages ul li:after,
.widget_nav_menu ul li:after{ display:none;}
.widget.widget_pages ul li a,
.widget_nav_menu ul li a{display:block;font-size:13px;color:#444;position: relative; text-transform: capitalize;line-height:26px;}
.widget.widget_pages ul li a:hover,
.widget_nav_menu ul li a:hover{text-decoration:none;padding-left: 13px;}
.widget.widget_pages ul li a:before,
.widget_nav_menu ul li a:before{content: "\e947";font-family: icomoon;position: absolute;top: 0;left: -5px;opacity: 0;visibility: hidden;font-size: 14px; transition:all 0.3s ease-in-out 0s;}
.widget.widget_pages ul li a:hover:before,
.widget_nav_menu ul li a:hover:before{opacity: 1;visibility:visible;}
.wp-automobile .widget.widget_nav_menu ul ul, .wp-automobile .widget.widget_pages ul ul,  .wp-automobile .widget.widget_automobile_custom_menu_widget ul ul{padding-left:10px;}
/* Widget Woocommerce Search */
.widget.woocommerce.widget_product_search form {position:relative;}
.widget.woocommerce.widget_product_search form:after{clear:both;display:block;content:"";}
.widget.woocommerce.widget_product_search form label{display:block;}
.widget.woocommerce.widget_product_search input[type="search"]{width:75%;float:left;}
.widget.woocommerce.widget_product_search input[type="submit"] {float: left;width: 25%;border-radius: 0;border: none;height: 38px;margin-left: -2px;font-size: 14px;color:#FFF;border-bottom-right-radius: 2px;border-top-right-radius: 2px;}
/* Widget Gallery Style Start */
.widget_media_gallery .cs-gallery {margin-bottom:0;}
.widget_media_gallery .row {margin:0 -5px;}
.widget_media_gallery [class*="col-"] {padding:0 5px;}
.widget_media_gallery .cs-gallery .cs-media figcaption i {margin:15px 0 0; width: 25px; height: 25px; line-height:25px; font-size: 10px;}
.widget_media_gallery .cs-gallery .cs-media:hover figcaption i {margin:0;}
/* Widget Gallery Style End */